:root {
  --textColor: #fff;
  --btnColor: #ff9f1c;
}
.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.596) 100%,
      rgba(0, 0, 0, 0.555) 100%
    ),
    url("../../../public/img/bg.jpg");
  height: calc(92vh + 2px);
}


.hero .buttons a{
    border-radius: 5px;
    text-decoration: none;
    color: var(--textColor);
    padding: 0.6rem 1.2rem;
    margin: 0.41rem;
    font-size: 1rem;
    background-color: var(--btnColor);
}
.hero .buttons a:nth-child(2){
    background-color: var(--textColor);
    padding: 0.6rem 1.92rem;
    color: black;
}
.hero .buttons a:nth-child(1):hover{
    background-color: #e28b11;
}
.hero .buttons a:nth-child(2):hover{
    background-color: #dbd9d9;
} 
